{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books/">Каталог</a></h1>
        </div>

        {% if prev_date %}
            <a href="/books/{{ prev_date }}/">← Предыдущая дата ({{ prev_date }})</a>
        {% endif %}
        {% if next_date %}
            <a href="/books/{{ next_date }}/">Следующая дата ({{ next_date }}) →</a>
        {% endif %}

        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
            </div>
            {% empty %}
            <p>Книг не найдено.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
